body {
    background-color: rgb(70, 153, 186);
    font-family: 'Syne', sans-serif;
}

nav {
    padding: 0;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin: 1rem auto;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 0.5rem 1rem;
    display: block;
    border: 1px black;
}

nav a:hover {
    background-color:rgb(110, 110, 110);
}

nav a:focus {
    background-color: black;
    color: white;
}

h1 {
    text-align: center;
    color: black;
    font-size: 80px;
    
}

h2 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
}

h3 {
    font-weight: bold;
    text-align: center;
}

h4 {
    text-align: center;
    top: 300px;
}

p {
    text-align: center;
    font-size: 25px;
}

div#octaveSelect {
    margin: 0 auto;
    margin-bottom: 16px;
    text-align: center;
    left: 20px;
}

div#keyboardDiv {
    display: flex;  /*===== FLEXBOX!! =====*/
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
}

.key {
    float: left;
    position: relative;
    display: flex;
    text-align: center;
    align-items: flex-end;
}

.whiteKey {
    height: 300px;
    z-index: 1; /* order of placement on the Z-axis; the higher the number, the further to the front an element is placed */
    width: 20.5%;
    background-color: white;
    border: 2px solid black;
}

.whiteKey:hover,
.whiteKey:focus {
    background-color: rgb(110, 110, 110);
}

.whiteKey:active {
    background-color: rgb(110, 110, 110);
}

.blackKey {
    position: absolute;
    width: 5.5%;
    height: 200px;
    z-index: 2;
    background-color: black;
}

.blackKey:hover,
.blackKey:focus {
    background-color: rgb(110, 110, 110);
}

.blackKey:active {
    background-color: rgb(110, 110, 110);
}

#key1 {
    left: 17%;
}

#key3 {
    left: 26%;
}

#key6 {
    left: 39%;
}

#key8 {
    left: 47.5%;
}

#key10 {
    left: 55.5%;
}

#key13 {
    left: 68.5%;
}

#key15 {
    left: 77.5%;
}
